In [1]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import statistics
import time
import os

/Users/muhammadsaad/opt/anaconda3/envs/streamlit/lib/python3.10/site-packages/scipy/__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.26.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df=pd.read_csv("E commerce daata.csv")
df.head(4)

,Additional Order items,Category Name,Customer City,Customer Country,Customer Fname,Customer Id,Customer Segment,Customer State,Customer Zipcode,Market,Order Customer Id,Order Date,Order Id,Order Region,Order Item Total,Order Quantity,Product Price,Profit Margin,Profit Per Order,Sales
0,Camping & Hiking,Camping & Hiking,Caguas,Puerto Rico,Sean,568,Consumer,PR,725.0,LATAM,568,17-06-2017,61558,South America,269.980011,1,299.980011,26.10%,78.290001,800.0
1,Camping & Hiking,Camping & Hiking,Caguas,Puerto Rico,Carol,3341,Consumer,PR,725.0,LATAM,3341,18-04-2017,57472,South America,269.980011,1,299.980011,-5.40%,-16.200001,800.0
2,Camping & Hiking,Camping & Hiking,Mayaguez,Puerto Rico,Mary,7459,Consumer,PR,680.0,LATAM,7459,24-05-2017,59898,Central America,263.980011,1,299.980011,3.90%,11.620000,800.0
3,Camping & Hiking,Camping & Hiking,Mayaguez,Puerto Rico,Mary,7459,Consumer,PR,680.0,LATAM,7459,24-05-2017,59898,Central America,260.980011,1,299.980011,-1.10%,-3.390000,800.0

In [3]:
df.shape

(115746, 20)

In [5]:
df.columns

Index(['Additional Order items', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Fname', 'Customer Id', 'Customer Segment',
       'Customer State', 'Customer Zipcode', 'Market', 'Order Customer Id',
       'Order Date', 'Order Id', 'Order Region', 'Order Item Total',
       'Order Quantity', 'Product Price', 'Profit Margin', 'Profit Per Order',
       'Sales'],
      dtype='object')

In [6]:
df.isnull().sum()

Additional Order items    1024
Category Name                0
Customer City                0
Customer Country             0
Customer Fname               0
Customer Id                  0
Customer Segment             0
Customer State               0
Customer Zipcode             3
Market                       0
Order Customer Id            0
Order Date                   0
Order Id                     0
Order Region                 0
Order Item Total             0
Order Quantity               0
Product Price                0
Profit Margin                0
Profit Per Order             0
Sales                        0
dtype: int64

In [8]:
df.info

<bound method DataFrame.info of        Additional Order items       Category Name Customer City  \
0            Camping & Hiking    Camping & Hiking        Caguas
1            Camping & Hiking    Camping & Hiking        Caguas
2            Camping & Hiking    Camping & Hiking      Mayaguez
3            Camping & Hiking    Camping & Hiking      Mayaguez
4          Hunting & Shooting  Hunting & Shooting        Caguas
...                       ...                 ...           ...
115741           Water Sports        Water Sports   Los Angeles
115742          Shop By Sport       Shop By Sport        Upland
115743                Fishing             Fishing   Los Angeles
115744                Fishing             Fishing   Los Angeles
115745             Golf Balls          Golf Balls     Las Vegas

       Customer Country Customer Fname  Customer Id Customer Segment  \
0           Puerto Rico           Sean          568         Consumer
1           Puerto Rico          Carol         3341         Consumer
2           Puerto Rico           Mary         7459         Consumer
3           Puerto Rico           Mary         7459         Consumer
4           Puerto Rico           Mary        10740         Consumer
...                 ...            ...          ...              ...
115741    United States           Mary         2666        Corporate
115742    United States       Victoria         8100        Corporate
115743    United States           Mary         2666        Corporate
115744    United States           Mary         9547        Corporate
115745    United States           Mary        11747        Corporate

       Customer State  Customer Zipcode Market  Order Customer Id  Order Date  \
0                  PR             725.0  LATAM                568  17-06-2017
1                  PR             725.0  LATAM               3341  18-04-2017
2                  PR             680.0  LATAM               7459  24-05-2017
3                  PR             680.0  LATAM               7459  24-05-2017
4                  PR             725.0  LATAM              10740  05-06-2017
...               ...               ...    ...                ...         ...
115741             CA           90033.0   USCA               2666  13-04-2016
115742             CA           91786.0   USCA               8100  07-02-2016
115743             CA           90033.0   USCA               2666  13-04-2016
115744             CA           90027.0   USCA               9547  08-06-2016
115745             NV           89123.0   USCA              11747  26-04-2016

        Order Id     Order Region  Order Item Total  Order Quantity  \
0          61558    South America        269.980011               1
1          57472    South America        269.980011               1
2          59898  Central America        263.980011               1
3          59898  Central America        260.980011               1
4          58644  Central America        130.490005               1
...          ...              ...               ...             ...
115741     32105        US Center        175.990005               1
115742     37555      East of USA         33.189999               1
115743     32105        US Center        331.980011               1
115744     39980      West of USA        331.980011               1
115745     32995      West of USA         12.440000               1

        Product Price Profit Margin  Profit Per Order       Sales
0          299.980011        26.10%         78.290001  800.000000
1          299.980011        -5.40%        -16.200001  800.000000
2          299.980011         3.90%         11.620000  800.000000
3          299.980011        -1.10%         -3.390000  800.000000
4          149.990005       -63.80%        -95.650002  149.990005
...               ...           ...               ...         ...
115741     199.990005        27.50%         55.090000  199.990005
115742      39.990002        37.40%         14.940000   39.990002
115743     399.980011        39.80%        159.350006  399.980011
115744     399.980011        24.90%         99.599998  399.980011
115745      14.990000        39.80%          5.970000   14.990000

[115746 rows x 20 columns]>

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115746 entries, 0 to 115745
Data columns (total 20 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Additional Order items  114722 non-null  object
 1   Category Name           115746 non-null  object
 2   Customer City           115746 non-null  object
 3   Customer Country        115746 non-null  object
 4   Customer Fname          115746 non-null  object
 5   Customer Id             115746 non-null  int64
 6   Customer Segment        115746 non-null  object
 7   Customer State          115746 non-null  object
 8   Customer Zipcode        115743 non-null  float64
 9   Market                  115746 non-null  object
 10  Order Customer Id       115746 non-null  int64
 11  Order Date              115746 non-null  object
 12  Order Id                115746 non-null  int64
 13  Order Region            115746 non-null  object
 14  Order Item Total        115746 non-null  float64
 15  Order Quantity          115746 non-null  int64
 16  Product Price           115746 non-null  float64
 17  Profit Margin           115746 non-null  object
 18  Profit Per Order        115746 non-null  float64
 19  Sales                   115746 non-null  float64
dtypes: float64(5), int64(4), object(11)
memory usage: 17.7+ MB